Repository nix-community/infra, pull requests merged in 2023-07, with the labels that each got.

#652 refactor storage box
  hosts/build02/nixpkgs-update-backup.nix
  hosts/build02/secrets.yaml
  modules/nixos/security.nix
  secrets.yaml
Labels: sops secrets

#657 hosts.web01: init
  .sops.yaml
  devdoc/hosts.md
  flake.nix
  hosts/web01/configuration.nix
  hosts/web01/hardware-configuration.nix
  hosts/web01/secrets.yaml
  modules/nixos/security.nix
  terraform/cloudflare_nix-community_org.tf
Labels: terraform, sops secrets

#662 terraform/cloudflare: fix darwin02-AAAA
  terraform/cloudflare_nix-community_org.tf
Labels: terraform

#654 secrets.yaml: refactor
  secrets.yaml
Labels: sops secrets

#673 terraform/cloudflare: add darwin03
  terraform/cloudflare_nix-community_org.tf
Labels: terraform

#676 modules/darwin: refactor
  .sops.yaml
  flake.nix
  hosts/darwin02/configuration.nix
  hosts/darwin02/secrets.yaml
  modules/darwin/builder.nix
  modules/darwin/common/default.nix
  modules/darwin/common/telegraf.nix
  modules/darwin/hercules-ci/default.nix
  modules/darwin/hercules-ci/secrets.yaml
Labels: sops secrets

#674 darwin03: init
  dev/effect.nix
  devdoc/hosts.md
  flake.nix
  hosts/build02/configuration.nix
  hosts/build03/configuration.nix
  hosts/darwin03/configuration.nix
  modules/nixos/common/security.nix
  modules/nixos/remote-builder/darwin03.nix
  secrets.yaml
  tasks.py
Labels: sops secrets

#678 darwin02: scaleway -> hetzner
  dev/effect.nix
  devdoc/hosts.md
  hosts/darwin02/configuration.nix
  modules/nixos/common/security.nix
  secrets.yaml
  terraform/cloudflare_nix-community_org.tf
Labels: terraform, sops secrets

#684 .sops.yaml: update path_regex for modules
  .sops.yaml
Labels: sops secrets

#699 terraform/cloudflare: add web02
  terraform/cloudflare_nix-community_org.tf
Labels: terraform

#692 web02: init
  .sops.yaml
  devdoc/hosts.md
  flake.nix
  hosts/web02/configuration.nix
  hosts/web02/gandi.nix
  hosts/web02/secrets.yaml
  modules/nixos/common/security.nix
  terraform/cloudflare_nix-community_org.tf
Labels: terraform, sops secrets

#681 remove aarch64.nixos.community
  docs/community-builder.md
  flake.nix
  hosts/build01/configuration.nix
  hosts/build01/secrets.yaml
  modules/nixos/common/security.nix
  modules/nixos/remote-builder/aarch64-nixos-community.nix
Labels: sops secrets
