Repository nix-community/infra, pull requests merged in 2024-07, with the labels that each got.

#1329 secrets.yaml: move ssh host keys
  .sops.yaml
  hosts/build01/secrets.yaml
  hosts/build02/secrets.yaml
  hosts/build03/secrets.yaml
  hosts/build04/secrets.yaml
  hosts/web02/secrets.yaml
  secrets.yaml
  tasks.py
Labels: secrets

#1335 hydra: build CUDA packages for the CUDA team
  terraform/hydra-projects.tf
Labels: terraform

#1355 move hercules to agenix
  .sops.yaml
  flake.nix
  modules/darwin/hercules-ci.nix
  modules/darwin/hercules-ci/default.nix
  modules/nixos/common/default.nix
  modules/nixos/hercules-ci.nix
  modules/nixos/hercules-ci/default.nix
  modules/nixos/hercules-ci/secrets.yaml
  secrets/binary-caches.age
  secrets/cluster-join-token.age
  secrets/hercules-binary-caches.age
  secrets/hercules-cluster-join-token.age
  secrets/hercules-secrets.age
  secrets/secrets.nix
Labels: secrets

#1372 Revert "hydra: build CUDA packages for the CUDA team"
  terraform/hydra-projects.tf
Labels: terraform

#1378 treefmt: nixpkgs-fmt -> nixfmt
  default.nix
  dev/docs.nix
  dev/shell.nix
  dev/treefmt.nix
  flake.nix
  hosts/build02/configuration.nix
  hosts/build02/nixpkgs-update-backup.nix
  hosts/build02/nixpkgs-update.nix
  hosts/build02/supervisor_test.nix
  hosts/build03/builders.nix
  hosts/build03/postgresql.nix
  hosts/web02/gandi.nix
  modules/darwin/builder.nix
  modules/darwin/common/default.nix
  modules/darwin/common/telegraf.nix
  modules/darwin/community-builder/users.nix
  modules/darwin/remote-builder.nix
  modules/nixos/buildbot.nix
  modules/nixos/builder.nix
  modules/nixos/common/comin.nix
  modules/nixos/common/default.nix
  modules/nixos/common/reboot.nix
  modules/nixos/common/security.nix
  modules/nixos/common/sops-nix.nix
  modules/nixos/common/users.nix
  modules/nixos/community-builder/default.nix
  modules/nixos/community-builder/users.nix
  modules/nixos/disko-zfs.nix
  modules/nixos/github-org-backup.nix
  modules/nixos/hydra.nix
  modules/nixos/monitoring/alert-rules.nix
  modules/nixos/monitoring/matrix-hook.nix
  modules/nixos/monitoring/prometheus.nix
  modules/nixos/monitoring/telegraf.nix
  modules/nixos/nur-update.nix
  modules/nixos/remote-builder.nix
  modules/shared/builder.nix
  modules/shared/nix-daemon.nix
  modules/shared/remote-builder.nix
  modules/shared/telegraf.nix
  secrets/secrets.nix
  terraform/shell.nix
  users/lib.nix
Labels: terraform, secrets

#1379 move backups to build02 storagebox, move borgbackup to agenix
  hosts/build02/nixpkgs-update-backup.nix
  hosts/build02/secrets.yaml
  hosts/build03/secrets.yaml
  modules/nixos/github-org-backup.nix
  modules/shared/known-hosts.nix
  secrets/hetzner-borgbackup-ssh.age
  secrets/secrets.nix
Labels: secrets

#1384 build03: switch to new hardware
  devdoc/hosts.md
  hosts/build03/configuration.nix
  hosts/build03/postgresql.nix
  hosts/build03/secrets.yaml
  modules/nixos/buildbot.nix
  terraform/cloudflare_nix-community_org.tf
Labels: terraform, secrets

#1385 build01: switch to new hardware
  devdoc/hosts.md
  hosts/build01/configuration.nix
  terraform/cloudflare_nix-community_org.tf
Labels: terraform

#1392 build03: update buildbot workers
  hosts/build03/secrets.yaml
Labels: secrets
